@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --card-height: 20vh;
  --card-width: calc(var(--card-height) / 1.1);
}

.titleCategory {
  width: 100%;
  display: flex;
  justify-content: center;
  background: radial-gradient(var(--fourthcolor), var(--secondarycolor));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.7em;
}
.containerCat {
  /* min-height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-around;
  /* margin: 0.2; */
  max-width: calc(var(--card-width) * 4);
  padding-top: 0rem;
  padding-bottom: 2rem;
  z-index: 0;
  position: relative;
}

.card img {
  /* object-fit: cover; */
  width: calc(var(--card-width) / 1.15);
  height: calc(var(--card-height) / 1.4);
  box-shadow: 1.5pt 1.5pt 1.5pt -1.5px #2f2f2f, 5px 5px 10px hsl(227deg 15% 76%),
    -2.5px -2.5px 5px hsl(230deg 67% 96% / 75%);
  border: 0.125pt solid #f0f2fc;
  /* margin-top: 0; */
  border-radius: 10px 10px 4px 4px;
  object-position: 50% 90%;
}

.categoryImg {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 6pt;
}
.card {
  margin-top: 2%;
  background: radial-gradient(var(--secondarycolor), var(--primarycolor));
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  cursor: pointer;
  font-family: "Source Code Pro", "Tangerine", Helvetica, sans-serif;
  /* font-display: block; */
}

.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
  cursor: pointer;
}

.card:hover {
  background-image: linear-gradient(
    var(--rotate),
    var(--thirdcolor),
    var(--seventhcolor) 43%,
    var(--fourthcolor)
  );
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    var(--thirdcolor),
    var(--seventhcolor) 43%,
    var(--fourthcolor)
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  /* margin: 0 auto; */
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    var(--thirdcolor),
    var(--seventhcolor) 43%,
    var(--fourthcolor)
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* a {
  color: var(--fourtnlinkthcolor);
  text-decoration: none;

  margin-top: 2rem;
} */

.categoryText {
  /* margin: 5pt 6pt 17pt 6pt; */
  font-size: 12.25pt;
  color: var(--thirdcolor);
  font-weight: bold;
}
