.contentFoot {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
  to top left,
  var(--gamecolor),
  var(--fourthcolor),
  var(--gamecolor)
  );
  border-radius: 10px;
  color: var(--sixthcolor);
  font-weight: bold;
  height: 100%;
}

.categoriesFoot {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.3em;
}

.categoriesFoot a {
  margin-left: 1.5em;
}

.linkFoot {
  display: flex;
  justify-content: space-around;
  padding-top: 0.3em;
  font-size: 0.8rem;
  color: var(--sixthcolor);
  font-weight: bold;
}

.linkFoot a {
  color: var(--sixthcolor);
}

.firstlineFoot {
  margin-right: 0.8em;
  list-style: none;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 0.8rem;
}

.firstlineFoot a {
  color: var(--sixthcolor);
}

.CopyrightFoot {
  margin-left: 1rem;
  color: var(--sixthcolor);
  font-size: 0.5rem;
}

/* reseaux sociaux*/

.imgsocFoot {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logface {
  margin-left: 0em;
  width: 0.8rem;
  height: 0.8rem;
}

.loginst {
  margin-left: 0.3em;
  margin-right: 0.3em;
  width: 0.8rem;
  height: 0.8rem;
}

.loglink {
  margin-right: 0.3em;
  width: 0.8rem;
  height: 0.8rem;
}

.logtwit {
  margin-left: 0em;
  margin-right: 0em;
  width: 0.8rem;
  height: 0.8rem;
}

.logtiktok {
  margin-left: 0.3em;
  width: 0.8rem;
  height: 0.8rem;
}

/*modal form*/

.formFoot {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 30%;
  margin-left: 20%;
  width: 600px;
  min-width: 100px;
  height: auto;
  padding: 20px 40px 40px 20px;
  border-radius: 20px;
  border: solid;
  box-shadow: 0px 8px 50px #222;
  background-color: var(--thirdcolor);
}

.formFoot > h1 {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.3em;
  margin-bottom: 20px;
  color: black;

  background-color: var(--fifthcolor);
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.formFoot > #label1,#label2,#label3,#label4{
  margin-bottom: 0.5em;
  color: black;
  font-weight: bold;
  margin-top: 1em;
  font-size: large;
}

.formFoot > #input1,#input2,#input3{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 96%;
  padding: 10px 10px;
  border-radius: 5px;
  border: 3px solid var(--primarycolor);
  margin-top: 5px;
  border-radius: 10px;
}

.formFoot  {
  display: block;
  justify-content: center;
  width: 35%;
  height: 600px;
}

.formFoot > #input4 {
  display: inline-block;
  width: auto;
  margin-top: 2em;
  margin-right: 10px;
}

.formFoot > button {
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 1.5em;
  padding: 0.9em;
  border: none;
  border-radius: 4px;
  background-color: var(--fifthcolor);
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
}

.formFoot > #button:hover,.closerFoot:hover {
  background-color: var(--primarycolor);
  color: var(--thirdcolor);
}

.closerFoot {
  font-size: x-large;
  background-color: var(--thirdcolor);
  padding: 0;
  width: 5%;
  color: var(--thirdcolor);
}

/*media queries footer*/

@media screen and (max-width:850px)   {

.linkFoot {
  display:flex;
  flex-direction:row;
  align-items: center; 
}
.linkFoot a{
  width: 4em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 0.5em;
  color:var(--sixthcolor);
  align-items: center;
}

.categoriesFoot a{
 display:none;
}

.contentFoot{
  height: auto;
  min-width: 100%;
}

.imgsocFoot {
  justify-content: center;
}

.logface {
  margin-left: 0em;
   width: 1rem;
  height: 1rem;
}

.loginst {
  margin-left: 0.3em;
  margin-right: 0.3em;
  width: 1rem;
  height: 1rem;
}

.loglink {
  margin-right: 0.3em;
  width: 1rem;
  height: 1rem;
}

.logtwit {
  margin-left: 0em;
  margin-right: 0em;
  width: 1rem;
  height: 1rem;
}

.logtiktok {
  margin-left: 0.3em;
  width: 1rem;
  height: 1rem;
}

.formFoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:absolute;
  top:20%;
  left: 7%;
  margin-left: 20%;
  width: 300px;
  min-width: 10px;
  height: 650px;
  padding: 20px 40px 40px 20px;
  border-radius: 20px;
  border: solid;
  box-shadow: 0px 8px 50px #222;
  background-color: var(--thirdcolor);
}

.formFoot h1{
 margin-left: 0.5em;

}

.CopyrightFoot {
  display: none;
}

.closerFoot {
 margin-left: 0.5em;
}

}


