.footcontent {
    /*background-color: var(--fourthcolor);*/
    background: linear-gradient(to top left, var(--gamecolor), var(--fourthcolor), var(--gamecolor));
    border-radius: 20px;
    font-size: small;
    color: var(--sixthcolor);
    font-weight: bold; 
    height: 5rem;
}

ul {
    display: flex;
    flex-direction:row;
    font-size:14px ;
    text-decoration: none;
    justify-content: center; 
}

a { 
    font-size: 1.02rem;
    color: var(--sixthcolor);
    font-weight: bold;  
}

.categories{
    display: flex;
    justify-content:space-around;
    padding-top: 0.5em;
}

.firstline li {
    margin-right: 0.8em;
    list-style: none;
    margin-top: 0.5em;
}

/*.secondline li {
    margin-right: 2em;
    list-style: none;
}*/

.Copyright {
   margin-left: 77em;
   color: var(--sixthcolor);
   font-size: 11px; 
}

/* reseaux sociaux*/ 

.imgsoc{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
}

.logface{
    margin-left:10em;
}

.loginst {
    margin-left: 1em;
    margin-right: 1em;
}

.loglink {
    margin-right: 1em;
}

.logtwit {
    margin-left: 0em;
    margin-right: 0em;
}

.logtiktok{
    margin-left: 1em;
}