* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: Helvetica,open  sans-serif;}

:root {
    --main-bg-color: #9836D9;
    --second-bg-color:#6360BF;
    --third-bg-color:#5FA0D9;
    --fourth-bg-color:#A9BF5A;
    --fifth-bg-color:#D9AA71; 
}

.footcontent {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    width: 98% ;
    height: 11em ;
    font-size: small;
    color: black;
    margin-left: 10px;
    font-weight: bold; 
    margin-top: 0.5em;
}

ul {
    display: flex;
    flex-direction:row;
    font-size:15px ;
    text-decoration: none;
    justify-content: center; 
}

a { 
    font-size:17px;
    color: black;
    font-weight: bold;  
}

.categories{
    display: flex;
    justify-content:space-around;
    padding-top: 0.5em;
}

.firstline li {
    margin-right: 2em;
    list-style: none;
    margin-top: 1.5em;
}

.secondline li {
    margin-right: 2em;
    list-style: none;
    margin-top: 1em;
}

.Copyright {
   margin-left:55em;
   color: black;
   font-size:14px; 
   font-weight: bold; 
}

/* reseaux sociaux*/ 

.imgsoc{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 1.5em;
    height: 1.5em;
    margin-top: 1em;
}

.logface{
    margin-left:15em;
}

.loginst {
    margin-left: 1em;
    margin-right: 1em;
}

.loglink {
    margin-right: 1em;
}

.logtwit {
    margin-left: em;
    margin-right: 0em;
}

.logtiktok{
margin-left: 1.5em;
}