.footcontent {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top left, var(--gamecolor), var(--fourthcolor), var(--gamecolor));
    border-radius: 10px;
    color: var(--sixthcolor);
    font-weight: bold; 
    height: 100%;
    width: 100%;
}

ul {
    display: flex;
    flex-direction:row;
    font-size: 0.6rem ;
    text-decoration: none;
    justify-content: center;
}

a { 
    font-size: 0.8rem;
    color: var(--sixthcolor);
    font-weight: bold;  
}
.categories{
    display: flex;
    justify-content:space-around;
    padding-top: 0.3em;
}
.firstline li {
    margin-right: 0.8em;
    list-style: none;
    margin-top: 0.5em;
}

.Copyright {
   margin-left: 3rem;
   color: var(--sixthcolor);
   font-size: 0.5rem; 
}

/* reseaux sociaux*/ 

.imgsoc{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logface{
    margin-left:0em;
    width: 0.8rem;
    height: 0.8rem;
}
.loginst {
    margin-left: 0.3em;
    margin-right: 0.3em;
    width: 0.8rem;
    height: 0.8rem;
}
.loglink {
    margin-right: 0.3em;
    width: 0.8rem;
    height: 0.8rem;
}
.logtwit {
    margin-left: 0em;
    margin-right: 0em;
    width: 0.8rem;
    height: 0.8rem;
}
.logtiktok{
    margin-left: 0.3em;
    width: 0.8rem;
    height: 0.8rem;
}

/*modal form*/

  /*form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:20%;
    left: 30%;
    margin-left: 20%;
    width: 600px;
    min-width: 100px;
    height: 550px;
    padding: 20px 40px 40px 20px;
    border-radius: 20px;
    border: solid;
    box-shadow: 0px 8px 50px #222;
    background-color: var(--thirdcolor);
  
  }
  
  form > h1 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.30em;
    color:black;
    letter-spacing: 2px;
    background-color: var(--fifthcolor);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
   
  }
  
  .info {
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  
  label {
    margin-bottom: 0.5em;
    color:black;
    font-weight: bold;
    margin-top: 1em;
    font-size: large;
  }
  
  input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 96%;
  }

  input, select {
    padding: 10px 10px;
    border-radius: 5px;
    border: 3px solid var( --primarycolor);
    margin-top: 5px;
    border-radius: 10px;
  }
  select {
    display: block;
    width: 100%;
    height: 35px;
  }
  input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-top: 2em;
    margin-right: 10px;
  }
  
  button {
    min-width: 100%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding: 0.90em;
    border: none;
    border-radius: 4px;
    background-color:var( --fifthcolor);
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
  }

  button:hover {
    background-color:var( --primarycolor);
    color: var( --thirdcolor);
  }
  
  .error {
    color:var( --fifthcolor);
    font-size: 0.5em;
    display: relative;
  }

  .submit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .croix {
      width:  px;
  }

  .closer{
font-size: x-large;
background-color: var(--thirdcolor);
margin-top: 1px;
margin-left: px;
padding: 0;
width: 5%;
  }*/
