.gameSection {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    column-gap: 3%;
    height: 100%;
}

.game {
    display: flex;
    flex-direction: column;
    align-self: space-around;
    height: 100%;
    width: 70%;
    border-radius: 20px;
    background-color: var(--gamecolor);
    box-shadow: 12px 12px 20px -8px rgba(0, 0, 0, 0.35);
}

.gameHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--sixthcolor);
    font-size: 1.4rem;
    height: 30%;
}

.gameContent {
    display: flex;
    align-content: space-evenly;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80%;
}

.button {
    border: none;
    height: 30%;
    width: 45%;
    background : linear-gradient(to bottom right, var(--thirdcolor), var(--secondarycolor));
    color: var(--sixthcolor);
    border-radius: 12px;
    box-shadow: 12px 12px 20px -8px rgba(0, 0, 0, 0.35);
}

.button h2 {
    font-size: 1.4rem;
}

.buttonIsActive {
    border: none;
    height: 28%;
    width: 43%;
    background : linear-gradient(to bottom right, var(--thirdcolor), var(--secondarycolor));
    color: var(--sixthcolor);
    border-radius: 12px;
}

.correct {
    border: none;
    height: 30%;
    width: 45%;
    background : var(--secondarycolor);
    color: var(--sixthcolor);
    border-radius: 12px;
}

.correct h2 {
    font-size: 1.6rem;
}

.wrong {
    border: none;
    height: 30%;
    width: 45%;
    background : var(--fifthcolor);
    color: var(--sixthcolor);
    border-radius: 12px;
}

.buttonIsActive h2 {
    font-size: 1.4rem;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100%;
}

.counter h1 {
    font-size: 1.3rem;
}

.counter h2 {
    font-size: 1.8rem;
    color: var(--secondarycolor);
}

.counterCategory {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: var(--gamecolor);
    box-shadow: 12px 12px 20px -8px rgba(0, 0, 0, 0.35);
    height: 6rem;
    width: 10rem;
    color: var(--sixthcolor);
} 

.counterCategory h2 {
    font-size: 1.2rem;
}

.counterQuestion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: var(--gamecolor);
    box-shadow: 12px 12px 20px -8px rgba(0, 0, 0, 0.35);
    height: 6rem;
    width: 10rem;
    color: var(--sixthcolor);
}

.counterQuestion h2 {
    font-size: 1.6rem;
}

.counterTime {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: var(--gamecolor);
    box-shadow: 12px 12px 20px -8px rgba(0, 0, 0, 0.35);
    height: 6rem;
    width: 10rem;
    color: var(--sixthcolor);
}

.counterTime h2 {
    font-size: 2rem;
}

h2 .timeEnd {
    font-size: 1.2rem;
}

@media screen and (max-width: 846px) {
    .counterCategory,
    .counterQuestion,
    .counterTime {
        width: 8.5rem;
        min-height: 6rem;
        height: auto;
    }
}
@media screen and (max-width: 492px) {
    .gameHeader {
        font-size: 1rem;
    }
    .gameContent {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        width: auto;
        row-gap: 1%;
        margin-bottom: 2%;
    }
    .button,
    .buttonIsActive,
    .correct,
    .wrong {
        min-height: 20%;
        height: auto;
        width: 90%;
    }
    .counterCategory {
        display: none;
    }
    .counterQuestion,
    .counterTime {
        width: 6.5rem;
        min-height: 6rem;
        height: auto;
    }
}

@media screen and (max-width: 492px) {
    .gameHeader {
        margin-top: 4%;
    }
}
