input {
    height: 1.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 12px 12px 20px -8px rgba(0, 0, 0, 0.35)

}

.myNav1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
    width: 13%;
    height: 14rem;
    background : linear-gradient(to bottom right, var(--secondarycolor), var(--thirdcolor));
    border-radius: 20px;
    margin-top: 0.5%;
    box-shadow: 12px 12px 20px -8px rgba(0, 0, 0, 0.35)

}

.myNav2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13%;
    height: 23rem;
    background : linear-gradient(to bottom right, var(--thirdcolor), var(--secondarycolor));
    border-radius: 20px;
    margin-top: 0.4%;
    box-shadow: 12px 12px 20px -8px rgba(0, 0, 0, 0.35)
}

#difficulties {
    margin-top: 6%;
}

.infosUser {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 18%;
}

.infosUser label {
    color: var(--sixthcolor);
    font-size:large;
}

.infosUser select {
    height: 1.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 12px 12px 20px -8px rgba(0, 0, 0, 0.35)

}

.newsLetter {
    margin-top: 6%;
    margin-bottom: 18%;
    text-align: center;
}

.newsLetter span {
    color: var(--sixthcolor);
    font-size: larger;
}

.acceptCGU {
    margin-top: 10%;
}
.newsLetter label {
    color: #ffff;
    font-size: small;
}

#cgu {
    height: fit-content;
}

.newsLetter p em {
    color: #ffff;
    font-size: smaller;
}

.subscribe {
    height: 1.8rem;
    border-radius: 5px;
    border: none;
    background-color: var(--fourthcolor);
    color: var(--sixthcolor);
    margin-top: 6%;
    box-shadow: 0px 10px 14px -7px;
}

.modalContent {
    color: var(--sixthcolor);
    font-size: medium;
    font-weight: 500;
}

.modalButton {
    height: 1.4rem;
    margin-top: 3%;
    border-radius: 5px;
    border: none;
    background-color: var(--fourthcolor);
    color: var(--sixthcolor);
    box-shadow: 0px 10px 14px -7px;

}