* {
  margin: 0;
  padding: 0;
  --primarycolor: #635a5a;
  --secondarycolor: #8ba017;
  --thirdcolor: #ebca8f;
  --fourthcolor: #e6a715;
  --fifthcolor: #b63810;
  --sixthcolor: #801b06;
  --seventhcolor: #377c2e;
  --appcolor: rgb(255, 253, 245);
  --gamecolor: #f9e7cd;
  font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
/* La classe du composant pour le cibler */
.content {
  grid-area: content;
}
/* article {
  grid-area: article;
} */
footer {
  grid-area: footer;
}

.App {
    background-color: var(--appcolor);
    border-radius: 20px;
    display: grid;
    box-sizing: content-box;
    grid-template-columns: 12% 88%;
    grid-template-rows: 19% 70% 11%;
    grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
    row-gap: 1%;
    column-gap: 0.6%;
    margin: 0.2%;
      /* Déforme les composants */
    height: 97vh;  
    width: 99vw;
}

