* {
    margin: 0;
    padding: 0;
    --primarycolor: #635a5a;
    --secondarycolor: #8ba017;
    --thirdcolor: #ebca8f;
    --fourthcolor: #e6a715;
    --fifthcolor: #b63810;
    --sixthcolor: #801b06;
    --seventhcolor: #377c2e;
    --appcolor: rgb(255, 253, 245);
    --gamecolor: #f9e7cd;
    font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header { grid-area: header; }
nav { grid-area: nav; }
section { grid-area: section; }
article { grid-area: article; }
footer { grid-area: footer; }

.App {
    background-color: var(--appcolor);
    border-radius: 20px;
    display: grid;
    flex-wrap: wrap;
    box-sizing: content-box;
    grid-template-columns: 12% 88%;
    grid-template-rows: 1fr 4fr 0.5fr;
    grid-template-areas:
    "header header"
    "nav section"
    "footer footer";
    row-gap: 0.8%;
    margin: 0.2%;
    height: 99vh;   
}