* {
    margin: 0;
    padding: 0;
    --primarycolor: #7e6a6a;
    --secondarycolor: #66a50e;
    --thirdcolor: #ebca8f;
    --fourthcolor: #efb91c;
    --fifthcolor: #a53b47;
    --sixthcolor: #801b06;
    --seventhcolor: #377c2e;
    font-family: Arial, Helvetica, sans-serif;
}
